{% extends "layout.html" %}
{% block title %}
    History
{% endblock %}

{% block main %}
    <table class="table table-striped table-hover">
        <thead style="font-weight: bold;font-size:20px;">
            <tr>
                <td>Type</td>
                <td>Symbol</td>
                <td>Shares</td>
                <td>Price</td>
                <td>Date</td>
                <td>Time</td>
            </tr>
        </thead>
        <tbody>
            {% for data in trans_data %}
                <tr>
                    <td>{{data["transcation"]}}</td>
                    <td>{{data["symbol"]}}</td>
                    <td>{{data["shares"]}}</td>
                    <td>{{data["cost"] | usd}}</td>
                    <td>{{data["date"]}}</td>
                    <td>{{data["time"]}}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}